@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;    
}
input{
    outline: none;
}
:root{
    --primaryColor : #000;
    --secondaryColor: #fff;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 20px;
    border: 1px solid red;
}
.container__title{
    font-size: 3em;
    font-weight: 700;
    border: 1px solid purple;
}
.container__alert-messages{
    width: 100%;    
    display: flex;
    justify-content: center;
    border: 1px solid red;    
}
.container__alert-messages span{    
    border: 1px solid black;
    padding: .5em 1em;    
}
.container__form{
    display: flex;
    flex-direction: row-reverse;    
    width: 100%;  
    gap: 12px;          
}
.form__inputs-container{
    width: 65%;
    display: flex;    
    gap: 20px;
    justify-content:space-between;
}
.form__input{
    text-align: center;
    width: 18%;
    padding: 8px;    
}
.form__buttons-container{
    display: flex;
    width: 35%;
}
.form__button-add{
 flex-grow: 1;   
}
.form__button{
    flex-grow: 2;
}
.container__stage-box{
    width: 100%;
    min-height: 5em;
    border: 1px solid teal;
}
.container__table-result{
    border: 1px solid green;
}
.table-result{
    width: 100%;
    border: 1px solid brown;
    display: flex;
    flex-direction: column;
}
.table-result thead tr{    
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    display: flex;
    padding: 8px;
    justify-content: center;
    font-weight: 700;
}
.table-result tbody{
    padding: 10px 0;
}
.table-result tbody tr{
    display: flex;
    justify-content: space-around;
}
.table-result tbody tr td{
    width: 20px;
    font-size: 18px;
    font-weight: 400;
    padding: 3px 0;
    /* border: 1px solid var(--primaryColor); */
    text-align: center;
}