@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

input {
    outline: none;
}
button{
    cursor: pointer;
}

:root {
    --backgroundColor: linear-gradient(106.37deg,
            #273b53 29.63%,
            #4a3b54 51.55%,
            #412b39 90.85%);

    --glass: rgba(255, 255, 255, 0.54);

    --whiteColor: rgba(255, 255, 255, 0.34);
    --gray: #273b53;
    --black: #242d49;

    --greenBackground: rgb(145 254 159 / 47%);

    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--backgroundColor);
    background-repeat: no-repeat;
}

.isDisabled{ display: none; }
.isEnabledFlex { display: flex;}

/* @media (max-width: 885px) {
    body{
        background: #000;
    }
    .container__form{
        flex-wrap: wrap-reverse;
    }
    .form__inputs-container {
        flex-grow: 1;       
    }
    .form__buttons-container {
        flex-grow: 1;
    }    
    .container__stage-box {        
        flex-grow: 1;
    }
    .container__alert-messages{
        flex-grow: 1;
    }
    .container__title {  
        background-color: #000;      
        font-size: 1px;        
        padding: 0;        
    }
} */

.container {    
    display: flex;
    min-height: 100px;
    flex-direction: column;
    gap: 1.5em;
    padding: 20px;
    background: var(--glass);
    box-shadow: var(--boxShadow);
    border-radius: 2rem;
}

.container__title {
    font-size: 3em;
    font-weight: 700;
    padding: 0 1em;
    border-radius: 1rem;
    background-color: var(--whiteColor);
    color: var(--gray);
}

.container__alert-messages {
    width: 100%;
    min-height: 55px;    
    display: flex;
    flex-direction: column;        
}

.container__alert-messages span {
    width: max-content;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.09);
    color: #f00;
    font-weight: 700;
    border-radius: 2rem;
    padding: .5em 1em;
}

.container__form {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 12px;
}

.form__inputs-container {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.form__input {
    flex-grow: 1;
    text-align: center;
    padding: 8px;
    background-color: var(--whiteColor);
    box-shadow: var(--boxShadow);
    border: none;
}

.form__input:first-child {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-right: 1px dashed rgb(9, 9, 9, 0.44);
}

.form__input:last-child {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-left: 1px dashed rgb(9, 9, 9, 0.44);
}

.form__buttons-container {
    display: flex;
    width: 35%;
}

.form__button-add {
    width: 38px;    
    background-color: var(--whiteColor);
    background: url('icons/plus-icon.png');    
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    border: 1px solid var(--black);
    border-radius: 50%;
    transition: filter, box-shadow .75s;
}
.form__button-add:hover{
    filter: brightness(120%);
    box-shadow: 0px 0px 10px var(--gray);
}
.form__button {
    background-color: var(--gray);
    border: none;
    flex-grow: 2;
    border-radius: .5rem;
    color: #fff;
    transition: all .75s;
}
.form__button:hover {
    filter: brightness(120%);
    box-shadow: 0px 5px 30px var(--gray);
}
.container__stage-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 5em;
    background-color: var(--whiteColor);
    padding: 10px;
    box-sizing: border-box;
    gap: 10px 8px;
    flex-wrap: wrap;
    border-radius: 1rem;    
}
.stage-box__tag {
    height: max-content;
    background-color: var(--gray);
    color: #fff;
    padding: 0 8px;
    border-radius: 30px;
}
.container__text-result{
    min-height: 25px;    
    font-size: 18px;
    text-align: center;    
}
.container__table-result{ 
    min-height: 100px;
}
.table-result {
    width: 100%;    
    flex-direction: column;
    background-color: var(--whiteColor);
    border-radius: 1rem;
}

.table-result thead tr {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--gray);
    color: #fff;
    display: flex;
    padding: 8px;
    justify-content: center;
    font-weight: 700;
}

.table-result tbody {
    padding: 10px 0;
}

.table-result tbody tr {
    display: flex;
    justify-content: space-around;
}

.table-result tbody tr td {
    width: 20px;
    font-size: 18px;
    font-weight: 400;
    padding: 3px 0;
    text-align: center;
}