@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

input {
    outline: none;
}
button{
    cursor: pointer;
}

:root {
    --backgroundColor: linear-gradient(90deg, rgba(100,46,136,1) 33%, rgba(27,57,126,1) 100%);
    --glass: rgba(255, 255, 255, 0.54);
    --glassItem: rgba(255, 255, 255, 0.34);
    --primaryColor: rgba(100,46,136,1);
    --black: #242d49;    
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);    
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--backgroundColor);
    background-repeat: no-repeat;
}

.isDisabled{ display: none; }
.isEnabledFlex { display: flex;}

/* @media (max-width: 885px) {
    body{
        background: #000;
    }
    .container__form{
        flex-wrap: wrap-reverse;
    }
    .form__inputs-container {
        flex-grow: 1;       
    }
    .form__buttons-container {
        flex-grow: 1;
    }    
    .container__stage-box {        
        flex-grow: 1;
    }
    .container__alert-messages{
        flex-grow: 1;
    }
    .container__title {  
        background-color: #000;      
        font-size: 1px;        
        padding: 0;        
    }
} */

.container {    
    display: flex;
    min-height: 100px;
    flex-direction: column;
    gap: 1.5em;
    padding: 20px;
    background: var(--glass);
    box-shadow: var(--boxShadow);
    border-radius: 2rem;
}

.container__title {
    font-size: 2.5em;
    font-weight: 600;
    padding: 0 1em;
    border-radius: 1rem;
    background-color: var(--glassItem);     
    color: var(--primaryColor);
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
}

.container__alert-messages {
    width: 100%;
    min-height: 55px;    
    display: flex;
    flex-direction: column;    
    position: relative;    
}

.container__alert-messages span {
    width: max-content;    
    background-color: rgba(255, 0, 0, 0.09);
    color: #f00;
    font-weight: 700;
    font-size: 15px;
    border-radius: 2rem;
    padding: .5em 1em;
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%,-50%);

    animation-name: messageAnimationShowUp;
    animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: .5s;

    /* animation-name: messageAnimationError;
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: .5s; */

    /* animation-name: messageAnimationSuccess;
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: .8s; */
}

@keyframes messageAnimationShowUp {
    0%{
        transform: translate(-50%,-50%);
    }
    100%{
        transform: translate(-50%,-50%);
    }    
}
@keyframes messageAnimationSuccess {
    0%{
        transform: translate(-50%,-50%);
        font-size: 15px;
    }
    50%{
        font-size: 18px;
    }
    100%{        
        font-size: 15px;
        transform: translate(-50%,-50%);
    }    
}
@keyframes messageAnimationError {
    0%{
        transform: translate(-50%,-50%);
    }
    20%{
        transform: translate(-57%,-50%);
    }
    40%{
        transform: translate(-43%,-50%);
    }
    60%{
        transform: translate(-57%,-50%);
    }
    80%{
        transform: translate(-43%,-50%);
    }
    100%{
        transform: translate(-50%,-50%);
    }    
}
/* ADD ANIMATION TO THE ERRORS */

.container__form {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 12px;
}

.form__inputs-container {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.form__input {
    flex-grow: 1;
    text-align: center;
    padding: 8px;
    background-color: var(--glassItem);
    box-shadow: var(--boxShadow);
    border: none;
    box-shadow: var(--boxShadow);
}

.form__input:first-child {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-right: 1px dashed rgb(9, 9, 9, 0.44);
}

.form__input:last-child {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-left: 1px dashed rgb(9, 9, 9, 0.44);
}

.form__buttons-container {
    display: flex;
    width: 35%;
}

.form__button-add {
    width: 38px;    
    background-color: var(--glassItem);
    background: url('../icons/plus-icon.png');    
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    border: 1px solid var(--black);
    border-radius: 50%;
    transition: filter, box-shadow .75s;
}
.form__button-add:hover{
    filter: brightness(120%);
    box-shadow: 0px 0px 10px var(--primaryColor);
}
.form__button {
    background-color: var(--primaryColor);
    border: none;
    flex-grow: 2;
    border-radius: .5rem;
    font-weight: 700;
    color: #fff;
    transition: filter, box-shadow .75s;    
}
.form__button:hover {
    filter: brightness(120%);
    box-shadow: 0px 5px 30px var(--primaryColor);
}
.container__stage-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 5em;
    background-color: var(--glassItem);
    padding: 10px;
    box-sizing: border-box;
    gap: 10px 8px;
    flex-wrap: wrap;
    border-radius: 1rem;    
}
.stage-box__tag {
    height: max-content;
    background-color: var(--primaryColor);
    color: #fff;
    padding: 0 8px;
    border-radius: 30px;
    box-shadow: var(--boxShadow);
}
.container__text-result{    
    border-radius: 1rem;
    min-height: 25px;    
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.container__text-result p{
    text-align: center;
    min-width: 30%;
    border-radius: 1rem;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.14);
}
.container__table-result{ 
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.14);
    min-height: 100px;
}
.table-result {
    width: 100%;    
    flex-direction: column;
    background-color: var(--glassItem);
    border-radius: 1rem;
}

.table-result thead tr {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--primaryColor);
    color: #fff;
    display: flex;
    padding: 8px;
    justify-content: center;
    font-weight: 700;
}

.table-result tbody {
    padding: 10px 0;
}

.table-result tbody tr {
    display: flex;
    justify-content: space-around;
}

.table-result tbody tr td {
    width: 20px;
    font-size: 18px;
    font-weight: 400;
    padding: 3px 0;
    text-align: center;
}